body{
  background-color: white;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
-webkit-font-smoothing: antialiased;
font-weight: bold;
}

.front{
  background-color: white;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
}

#start_button{
  background-color: #CCE322;
  color: #302F2F;
  display: hidden;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  width: 150px;
  height: 30px;
  position:absolute;
  top: 50%;
  left: 35%;
  margin-left: 75px;
  cursor: pointer;
}

.self_area{
  border: 5px solid #235399;
  border-radius: 3px;
  position: fixed;
  left: 10px;
  top: 10px;
  width: 500px;
  height:600px;
}

.neek_area{
  border: 5px solid #CCE322;
  border-radius: 3px;
  position: fixed;
  left: 530px;
  top: 210px;
  width: 400px;
  height: 400px;
}

#player {
  position: fixed;
  left: 200px;
  top:  200px;
  background-color: #235399;
  height: 20px;
  width: 20px;
 }

.enemy {
  background-color: #BF140B;
  position: fixed;
  width: 20px;
  height: 20px
}

.scoreboard {
  position: fixed;
  border: 5px solid #349244;
  border-radius: 3px;
  top:10px;
  left: 530px;
  color: #349244;
  height: 180px;
  width: 400px;
  font-size: 20px 
}

#announcer{
  position:fixed;
  left: 50%;
  top: 30%;
  color: #302F2F;
  display: hidden;
}

#reset{
  position:fixed;
  font-size: 13px;
  background-color: #979797;
  color: #302F2F;
  line-height: 10px;
  padding: 5px;
  right: 3px;
  bottom: 3px;
  width:105px;
  height:20px;
  cursor: pointer;
  opacity: 0.2;
}

.karma{
  background-color: #CCE322;
  position: fixed;
  width: 20px;
  height: 20px
}

#health1{
  background-color: #349244;
  height: 20px;
  width: 60px;
  border: 5px solid #349244;
  border-radius: 3px;
  position: fixed;
  left: 540px;
  top: 20px;
}

#health2{
  background-color: #349244;
  height: 20px;
  width: 60px;
  border: 5px solid #349244;
  border-radius: 3px;
  position: fixed;
  left: 540px;
  top: 55px;
}
#health3{
  background-color: #349244;
  height: 20px;
  width: 60px;
  border: 5px solid #349244;
  border-radius: 3px;
  position: fixed;
  left: 540px;
  top: 90px;
}
#health4{
  background-color: #349244;
  height: 20px;
  width: 60px;
  border: 5px solid #349244;
  border-radius: 3px;
  position: fixed;
  left: 540px;
  top: 125px;
}
#health5{
  background-color: #349244;
  height: 20px;
  width: 60px;
  border: 5px solid #349244;
  border-radius: 3px;
  position: fixed;
  left: 540px;
  top: 160px;
}

#game_timer{
  position: fixed;
  left: 650px;
  top: 25px;
}

#game_timer_name{
  position: fixed;
  left: 630px;
  top: 25px;
}

/*
planned extra functionality- unused for now
.empathy{
  background-color:#CCE322;
  width: 60px;
  height: 60px;
}

.selfishness{
  background-color: #730600;
  width: 60px;
  height: 60px;
}
*/
