body{
  background-color: #F5F5F5;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.front{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
}

#start_button{
  background-color: #CCE322;
  color: #302F2F;
  display: hidden;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  width: 150px;
  height: 30px;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  cursor: pointer;
}

#buffer{
  border: 10px solid #F5F5F5;
  border-right: 45px solid #F5F5F5;
  border-bottom: 45px solid #F5F5F5;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 510px;
  height: 560px;
}

.self_area{
  border: 5px solid #235399;
  position: fixed;
  left: 10px;
  top: 10px;
  width: 500px;
  height:550px;
}
.self_back{
  border: 5px solid #235399;
  position: fixed;
  left: 10px;
  top: 10px;
  width: 500px;
  height:550px;
  background-color: white;
}

.neek_area{
  background-color: #FAFAFA;
  border: 5px solid #00761A;
  position: fixed;
  top: 380px;
  left: 525px;
  height: 180px;
  width: 29px;
}

.health_bar{
  background-color: #00761A;
  height: 30px;
  width: 20px;
  position:fixed;
}

#health5{
  top: 390px;
  left: 535px;
}

#health4{
  top: 425px;
  left: 535px;
}

#health3{
  top: 460px;
  left: 535px;
}

#health2{
  top: 495px;
  left: 535px;
}

#health1{
  top: 530px;
  left: 535px;
}

#player {
  position: fixed;
  left: 200px;
  top:  200px;
  background-color: #235399;
  height: 20px;
  width: 20px;
}

.karma{
 background-color: #CCE322;
 position: fixed;
 width: 20px;
 height: 20px
}

.enemy {
  background-color: #BF140B;
  position: fixed;
  width: 20px;
  height: 20px
}

#announcer{
  position:fixed;
  left: 50%;
  top: 30%;
  color: #302F2F;
  display: hidden;
}

#reset{
  position:fixed;
  font-size: 13px;
  background-color: #979797;
  color: #302F2F;
  line-height: 10px;
  padding: 5px;
  right: 3px;
  bottom: 3px;
  width:105px;
  height:20px;
  cursor: pointer;
}

.karma_bar{
  background-color: #CCE322;  
  height: 30px;
  width: 20px;
  position: fixed;
}

.karma_meter {
  position: fixed;
  background-color: #FAFAFA;
  border: 5px solid #CCE322;
  top: 10px;
  left: 525px;
  height: 180px;
  width: 29px;
}

#karma_bar5{
  left: 535px;
  top: 20px;
}

#karma_bar4{
  left: 535px;
  top: 55px;
}
#karma_bar3{
  left: 535px;
  top: 90px;
}
#karma_bar2{
  left: 535px;
  top: 125px;
}
#karma_bar1{
  left: 535px;
  top: 160px;
}

#game_timer{
  opacity: 0.5;
  font-size:12px;
  position: fixed;
  left: 15px;
  top: 570px;
}

.options{
  position:fixed;
  display:hidden;
  font-size:13px;
  right: 5px;
  top: 5px;
  height: 200px;
  width: 200px;
  display:block;
  text-align: center;
}

.mode_button{
  line-height: 20px;
  background-color: #E60046;
  height: 20px;
  margin: 2px;
  display:block;
  text-align: center;
  cursor: pointer;
}

.button_inactive{
  opacity:0.5;
}

.mode_button_over{
  opacity:0.7;
}

.option_button_up{
  height: 14px;
  width: 14px;
  position: absolute;
  top: 3px;
  right: 24px;
  background-image: url("/assets/up_arrow.png");
  background-size: 14px 14px;
  display: inline-block;
  cursor: pointer;
}

.option_button_down{
  height: 14px;
  width: 14px;
  position: absolute;
  top: 3px;
  right: 5px;
  background-image: url("/assets/down_arrow.png");
  background-size: 14px 14px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.endless_set{
  text-align: left;
  line-height: 20px;
  background-color: #E60046;
  height: 20px;
  width: 185px;
  margin: 5px;
  padding-left: 5px;
  position: relative;
  display: block;
}

.endless_var {
  height: 20px;
  width: 120px;
  display:inline-block;
}

.endless_val{
  height: 20px;
  width : 20px;
  display:inline-block;
}

.stats_board{
  font-weight: normal;
  position: fixed;
  font-size: 15px;
  left: 0px;
  bottom: 20px;
  list-style: none;
}

#title1{
  position: fixed;
  top:0px;
}
#title2{
  position: fixed;
  top:15px;
}
#title3{
  position: fixed;
  top:30px;
}

#instructions{
  position: fixed;
  background-color: #235AC6;
  bottom: 3px;
  left:3px;
  height:20px;
  width: 100px;
  padding: 4px;
  cursor: pointer;
}

.instruction_panel{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
}

.main_instruction{
  background-color: #FFB67A;
  font-size: 25px;
  margin: 5px auto;
  width: 340px;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
  text-align: center;
  color: #2C2C2C;
}

.main_instruction p{ 
  margin:3px;
}

.detail_instruction{
  font-size: 15px;
  font-weight: normal;
  width: 60%;
  margin: 10px auto;
  padding:10px;
}

.last_instructions{
  color: #2C2C2C;
  text-align: right;
}

#return_to_main{
  position:fixed;
  left: 0;
  bottom:0;
  background-color: #235AC6;
  cursor: pointer;
  bottom: 3px;
  left:3px;
  height:20px;
  width: 120px;
  padding: 4px;
}

.damage_flash{
  position:relative;
  width: 100%;
  height:100%;
  background-color: #FE3030;
  opacity: 0.2;
}

.karma_flash{
  font-weight: normal;
  color: #CCE322;
  font-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  line-height: 600px;
  opacity:0.2;
  left: 15px;
  top: 15px;
  width: 500px;
  height:550px;
  text-align:center;
}

#dogemode{
  position: fixed;
  background-color: #D54898;
  bottom: 3px;
  right: 3px;
  height: 20px;
  width: 110px;
  padding: 4px;
  cursor: pointer;
}


/*background-image: url("/assets/dogesmile.png");*/