body{
  background-color: white;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
-webkit-font-smoothing: antialiased;
font-weight: bold;
}

.front{
  background-color: white;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
}

#start_button{
  background-color: #CCE322;
  color: #302F2F;
  display: hidden;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  width: 150px;
  height: 30px;
  position:absolute;
  top: 50%;
  left: 35%;
  margin-left: 75px;
  cursor: pointer;
}

#buffer{
  border: 10px solid white;
  border-bottom: 45px solid white;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 510px;
  height: 560px;
}

.self_area{
  border: 5px solid #235399;
  border-radius: 3px;
  position: fixed;
  left: 10px;
  top: 10px;
  width: 500px;
  height:550px;
}

.neek_area{
  background-color: white;
  border: 5px solid #00761A;
  border-radius: 3px;
  position: fixed;
  left: 530px;
  top: 210px;
  width: 400px;
  height: 350px;
}

.health_bar{
  background-color: #00761A;
  height: 50px;
  width: 380px;
  border-radius: 5px;
  border: 5px solid #00761A;
  position:fixed;
}

#health5{
  top: 220px;
  left: 540px;
}

#health4{
  top: 290px;
  left: 540px;
}

#health3{
  top: 360px;
  left: 540px;
}

#health2{
  top: 430px;
  left: 540px;
}

#health1{
  top: 500px;
  left: 540px;
}

#player {
  position: fixed;
  left: 200px;
  top:  200px;
  background-color: #235399;
  height: 20px;
  width: 20px;
 }

 .karma{
   background-color: #CCE322;
   position: fixed;
   width: 20px;
   height: 20px
 }

.enemy {
  background-color: #BF140B;
  position: fixed;
  width: 20px;
  height: 20px
}

.scoreboard {
  position: fixed;
  background-color: white;
  border: 5px solid #CCE322;
  border-radius: 3px;
  top:10px;
  left: 530px;
  color: #302F2F;
  height: 180px;
  width: 400px;
  font-size: 20px 
}

#announcer{
  position:fixed;
  left: 50%;
  top: 30%;
  color: #302F2F;
  display: hidden;
}

#reset{
  position:fixed;
  font-size: 13px;
  background-color: #979797;
  color: #302F2F;
  line-height: 10px;
  padding: 5px;
  right: 3px;
  bottom: 3px;
  width:105px;
  height:20px;
  cursor: pointer;
}



.karma_bar{
  background-color: #CCE322;  
  height: 20px;
  width: 60px;
  border: 5px solid #CCE322;
  border-radius: 3px;
  position: fixed;
}

#karma5{
  left: 540px;
  top: 20px;
}

#karma4{
  left: 540px;
  top: 55px;
}
#karma3{
  left: 540px;
  top: 90px;
}
#karma2{
  left: 540px;
  top: 125px;
}
#karma1{
  left: 540px;
  top: 160px;
}

#game_timer{
  position: fixed;
  left: 650px;
  top: 25px;
}

#karma_collected{
  position: fixed;
  left: 650px;
  top: 165px;
}

#difficulty_display{
  position: fixed;
  left: 650px;
  top: 60px;
}

#spawn_delay{
  position: fixed;
  left: 650px;
  top: 95px;
}

#max_size{
  position: fixed;
  left: 650px;
  top: 130px;
}

.options{
  position:fixed;
  font-size:13px;
  right: 5px;
  top: 5px;
  height: 200px;
  width: 200px;
  display:block;
  text-align: center;
}

.mode_button{
  line-height: 20px;
  background-color: #E82D23;
  height: 20px;
  margin: 2px;
  display:block;
  text-align: center;
  cursor: pointer;
}

.button_inactive{
  opacity:0.5;
}

.mode_button_over{
  opacity:0.7;
}

.option_button_up{
  height: 14px;
  width: 14px;
  position: absolute;
  top: 5px;
  right: 29px;
  background-image: url("/assets/up_arrow.png");
  background-size: 14px 14px;
  display: inline-block;
  cursor: pointer;
}

.option_button_down{
  height: 14px;
  width: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url("/assets/down_arrow.png");
  background-size: 14px 14px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.endless_set{
  text-align: left;
  line-height: 20px;
  background-color: #E82D23;
  height: 20px;
  width: 190px;
  margin: 5px;
  padding: 2px;
  position: relative;
  display: block;
}

.endless_var {
  height: 20px;
  width: 120px;
  display:inline-block;
}

.endless_val{
  height: 20px;
  width : 20px;
  display:inline-block;
}

.stats_board{
  font-weight: normal;
  position: fixed;
  font-size: 15px;
  left: 0px;
  bottom: 20px;
  list-style: none;
}